# vim temporary files
*.swp
*.f_ORIG*
*.f90_ORIG*

# object files
*.o
*.mod

# binary files
main/swift_rmvs4_fp_ye_yorp
main/swift_rmvs3_fp_ye_yorp
main/swift_mvs2_fp_ye_yorp
main/swift_mvs2_fp2
main/swift_mvs2_converg
main/swift_mvs2_converg2
main/swift_rmvs3_dahlgren
main/swift_rmvs3_dahlgren2
libswift/libswift.a

